@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --darkest: #242423;
  --dark: #333533;
  --yellow: #f5cb5c;
  --bright: #cfdbd5;
  --brightest: #e8eddf;

  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* Spacing */
}

/* Main */
body {
  background-color: var(--bright);
  color: var(--dark);
  font-family: var(--main-font);
}

#game-container {
  background-color: var(--brightest);
}

/* Start page */
.game-title {
  font-style: italic;
  background-color: var(--bright);
}

.start-btn {
  background-color: var(--yellow);
}
/* Game page */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  background-color: grey;
}

.grid-item {
  border: 1px solid black;
  border-collapse: collapse;
}

.userMarkColor {
  background-color: red;
}

.compMarkColor {
  background-color: blue;
}
