@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --darkest: #242423;
  --dark: #333533;
  --yellow: #f5cb5c;
  --bright: #cfdbd5;
  --brightest: #e8eddf;
  --x-sign: rgb(248 113 113);
  --o-sign: rgb(96 165 250);

  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* Spacing */
}

/* Main */
body {
  background-color: var(--bright);
  color: var(--dark);
  font-family: var(--main-font);
}

#game-container {
  background-color: var(--brightest);
}

/* Start page */
.game-title {
  font-style: italic;
  /* background-color: var(--bright); */
}

.start-btn {
  color: var(--dark);
  background-color: var(--yellow);
}
/* Game page */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  border: 1px solid black;
  background-color: grey;
}

.grid-item {
  border: 1px solid var(--dark);
  border-collapse: collapse;
  background-color: var(--brightest);
}

.xSignColor {
  background-color: var(--x-sign);
}

.oSignColor {
  background-color: var(--o-sign);
}

.active-player,
.user-sign {
  outline: 6px solid var(--yellow);
  outline-offset: -7px;
}

/* Results */

.results-display {
  color: var(--dark);
}

.results-draw {
  background-color: var(--yellow);
}

.winning-line-border {
  outline: 6px solid var(--yellow);
  outline-offset: -7px;
}
