@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* --opacity-dim: 0.58;
  --color-primary: rgba(87, 231, 213, 1);
  --color-primary-bright: rgba(163, 248, 237, 1);
  --color-primary-dim: rgba(87, 231, 213, var(--opacity-dim));
  --color-primary-dimmer: rgba(113, 199, 217, 0.15);
  --color-neutral-dark: rgba(30, 30, 30, 1);
  --color-neutral-light: rgba(234, 234, 234, 1); */

  /* Fonts
  --font-primary: 'Roboto Mono', monospace;
  --font-secondary: 'Roboto', sans-serif; */

  /* Sizing */
  --step--2: clamp(0.43rem, calc(0.42rem + 0.08vw), 0.49rem);
  --step--1: clamp(0.52rem, calc(0.48rem + 0.19vw), 0.66rem);
  --step-0: clamp(0.63rem, calc(0.55rem + 0.36vw), 0.88rem);
  --step-1: clamp(0.9rem, calc(0.71rem + 0.94vw), 1.17rem);
  --step-2: clamp(1.08rem, calc(0.8rem + 1.42vw), 2.07rem);
  --step-3: clamp(1.3rem, calc(0.88rem + 2.09vw), 2.76rem);

  /* @link https://utopia.fyi/space/calculator?c=320,10,1.2,1440,14,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.19rem, calc(0.17rem + 0.09vw), 0.25rem);
  --space-2xs: clamp(0.31rem, calc(0.28rem + 0.18vw), 0.44rem);
  --space-xs: clamp(0.5rem, calc(0.45rem + 0.27vw), 0.69rem);
  --space-s: clamp(0.63rem, calc(0.55rem + 0.36vw), 0.88rem);
  --space-m: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.31rem);
  --space-l: clamp(1.25rem, calc(1.11rem + 0.71vw), 1.75rem);
  --space-xl: clamp(1.88rem, calc(1.66rem + 1.07vw), 2.63rem);
  --space-2xl: clamp(2.5rem, calc(2.21rem + 1.43vw), 3.5rem);
  --space-3xl: clamp(3.75rem, calc(3.32rem + 2.14vw), 5.25rem);

  --border-radius: var(--step--2);
  --border-width: 2px;

  --timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition: all 0.1s var(--timing-function);

  --height-device-min: 480px;
  --width-device-min: 280px;
  --width-device-max: 1440px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  background-color: grey;
}

.grid-item {
  border: 1px solid black;
  border-collapse: collapse;
}

.userMarkColor {
  background-color: red;
}

.compMarkColor {
  background-color: blue;
}
